.timer{
}

.buttonstyling{
    background-color: rgb(110, 110, 245) ;
    color: white;
    border: 5px solid black;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
}


.displaybox{
    display: flex;

}

.displayboxstyling
{
    box-shadow: 0, 1px, 1px, 0;
}

.centertext
{
    text-align: center;
}




#topbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}
#highscorebutton {
}


#mainheader
{
    text-align:center;
    font-size: 2rem;
}

#regulartext
{
    text-align:left;
    font-size: 1rem;

}

#mainpage{
    display:flex;
    flex: 0 0 200px;
    flex-direction: column;
    align-content: center;
}
